[nix]
channel = "stable-24_05"

[env]
JAVA_HOME = "/nix/store/zqg2asijmzil8gqmxabc6by1n2pbbiw6-openjdk-17.0.8+7/lib/openjdk"
PATH = "/nix/store/zqg2asijmzil8gqmxabc6by1n2pbbiw6-openjdk-17.0.8+7/bin:$PATH"

[workflows]
runButton = "Build Android App"

[[workflows.workflow]]
name = "Build Android App"
author = 43358842
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd WebradioApp && chmod +x gradlew && ./gradlew assembleDebug"
